@charset "UTF-8";

/**
 * @날짜 : 2020.07.09
 * @author : 이다은
 */

/* 전체 박스 */
#board {
	width: 600px;

	margin: 100px auto;
}

/* 글목록 */
#board > #list {
	float: right;

	margin: 5px;
}

#board > #list > a {
	text-decoration: none;
	
	color: black;
}

#board > #list > a:hover {
	text-decoration: underline;
}

/* 전체 테두리 */
#createform {
	clear: both;

	border: solid black 3px;
	border-style: solid solid none solid;
}

/* 
small : 작성자, 비밀번호
medium : 제목, 이메일
large : 내용
foot : 버튼
가로 구분선
 */
 
/* 작성자, 제목, 이메일, 비밀번호  row */
#createform > .tuple {
	height: 36px;
	line-height: 36px;

	border: solid black 3px;
	border-style: none none solid none;
}

/* 내용  row */
#createform > .content {
	height: 320px;
	line-height: 320px;

	border: solid black 3px;
	border-style: none none solid none;
}

/* 파일 row */
#createform > .file {
	height: 36px;
	line-height: 36px;
	
	border: solid black 3px;
	border-style: none none solid none;
}

/* tuple index 세로 구분선 */
#createform > .tuple > .index {
	width: 120px;
	
	display: block;
	float: left;
	
	border: solid black 3px;
	border-style: none solid none none;
	
	text-align: center;
}

/* 내용 index 세로 구분선 */
#createform > .content > .index {
	width: 120px;
	
	display: block;
	float: left;
	
	border: solid black 3px;
	border-style: none solid none none;
	
	text-align: center;
}

/* small : 작성자, 비밀번호 input */
.small {
	width: 200px;
	margin-left: 10px;
}

/* medium : 제목, 이메일 input */
.medium {
	width: 400px;
	margin-left: 10px;
}

/* large : 내용 input */
.large {
	width: 400px;
	height: 300px;
	
	margin-top: 7px;
	margin-left: 10px;
}

/* file index 세로 구분선 */
#createform > .file > .index {
	width: 120px;
	height: 36px;
	
	display: block;
	float: left;
	
	text-align: center;

	border: solid black 3px;
	border-style: none solid none none;
}

/* file content */
#createform > .file > .content {
	height: 23px;
	vertical-align: center;
	
	display: block;
	float: left;

	margin-left: 5px;
}

/* foot : 버튼 */
#board .foot {
	height: 40px;
	line-height: 40px;

	text-align: center;
}

#board .foot > input {
	margin: 5px;	
}